.video-component-edit-button {
  cursor: pointer;
  height: 25px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 25px;
  z-index: 10;
}
.video-component-wrapper {
  pointer-events: none;
  position: relative;
}

.video-component-wrapper > * {
  pointer-events: all;
}
