.video-component-edit-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10;
}

.video-component-wrapper {
  pointer-events: none;
  position: relative;
}

.video-component-wrapper > * {
  pointer-events: all;
}
