.website-category {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - var(--navbar-height));
  padding: 0 0.5em;
}

.website-category h1 {
  text-align: center;
  text-transform: capitalize;
}

.website-category .website-category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-evenly;
  margin-top: 5rem;
  width: 100%;
}

.website-category .category {
  border: 2px solid black;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  padding: 1em 3em;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  transition: all 150ms ease-in-out;
}

.website-category .category:hover {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}
