.star-rating-component.isEdit.isAbsolute.isPercent {
  width: 100% !important;
}

.star-rating-component {
  display: flex;
}

.star-rating-component > * {
  pointer-events: none;
}

.star-empty {
  color: black !important;
}

.star-rating-component:not(.isAbsolute) {
  bottom: 0 !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
}
