.star-rating-container {
  border: 3px solid transparent;
  display: flex;
}

.star-rating-container:hover {
  border: 3px solid darkblue;
}

.star-rating-container * {
  pointer-events: none;
}

.star-empty {
  color: black !important;
}
