.star-rating-component.isEdit.isAbsolute.isPercent {
  width: 100% !important;
}

.star-rating-component {
  display: flex;
}

.star-rating-component > * {
  pointer-events: none;
}

.star-empty {
  color: black !important;
}
