nav.user-navbar.isEdit {
  position: relative;
  align-items: center;
  display: flex;
  z-index: 0;
}

nav.user-navbar * {
  font-family: unset;
}

nav.user-navbar:not(.isEdit) {
  position: sticky !important;
  top: 0;
}
