.theme-category {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - var(--navbar-height));
  padding: 0 0.5em;
}

.theme-category h1 {
  text-align: center;
  text-transform: capitalize;
}

.theme-category .options {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-evenly;
  margin-top: 5rem;
  width: 100%;
}

.theme-category .option {
  cursor: pointer;
  min-width: 200px;
  padding: 1em;
  text-align: center;
  text-transform: capitalize;
}

.theme-category .option:hover {
  background-color: darkblue;
}
