.subscription-page {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  text-transform: capitalize;
  min-height: calc(100vh - var(--navbar-height));
  padding-top: 3rem;
  position: relative;
}

.subscription-page h1 {
  text-align: center;
}

.subscription-page h1 span {
  text-transform: uppercase;
}

.subscription-page p {
  font-weight: bold;
  font-size: 3em;
}

.subscription-page button {
  font-size: 1em;
  padding: 1em 3em;
}

.subscription-options {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 3rem;
}
