.create-category {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - var(--navbar-height) - 86px);
  padding: 0 0.5em;
}

.create-category .category-name {
  padding: 1em;
  text-align: center;
}

.create-category h2 {
  margin: 1.2rem 0;
  text-align: center;
  text-transform: capitalize;
}

.create-category .category-name .button-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.create-category .page-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  max-height: 300px;
  overflow: auto;
}

.page-list-container {
  width: 70%;
}

.page-list-container .form-input {
  gap: 1rem;
}

@media screen and (max-width: 800px) {
  .create-category .category-name .button-container {
    gap: 1rem;
  }

  .page-list-container {
    width: 80%;
  }
}
