.dashboard {
  min-height: calc(100vh - var(--navbar-height));
}

.dashboard header {
  align-items: center;
  background-color: #f1f4f6;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  padding: 1em 1.2em;
}

.dashboard .user-sites {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1.5em;
  gap: 2rem;
}

.dashboard .user-site-container {
  cursor: pointer;
  position: relative;
}

.dashboard .user-site-container:hover .user-site-options {
  transform: translateY(-3px);
}

.dashboard .user-site-options {
  color: #f1f4f6;
  font-size: 1.2em;
  padding: 0.5em 0.7em;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  transition: all 150ms ease-in-out;
  z-index: 10;
}

.dashboard .user-site-options:hover {
  transform: translateY(-3px);
}

.dashboard .user-site-options:hover + .user-site-content {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.dashboard .user-site-options ul {
  background-color: white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  color: #3d3d3d;
  visibility: hidden;
  list-style-type: none;
  position: absolute;
  top: 100%;
  right: 0;
}

.dashboard .user-site-options:hover ul {
  visibility: visible;
}

.dashboard .user-site-options ul li {
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  gap: 0.5rem;
  padding: 0.5rem;
  text-transform: capitalize;
}

.dashboard .user-site-options ul li:hover {
  color: #3799ee;
}

.dashboard .user-site-content {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 230px;
  overflow: hidden;
  position: relative;
  transition: all 150ms ease-in-out;
  width: 350px;
}

.dashboard .user-site-content > * {
  pointer-events: none;
}

.dashboard .user-site-content::before {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.dashboard .user-site-content:hover {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.dashboard .user-site-content img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.dashboard .user-site-content p {
  background-color: #f1f4f6;
  bottom: 0;
  font-size: 1.2em;
  font-weight: bold;
  left: 0;
  margin: 0;
  padding: 0.7rem;
  position: absolute;
  text-transform: capitalize;
  right: 0;
}

@media screen and (max-width: 400px) {
  .dashboard header {
    font-size: 0.5em;
  }

  .dashboard .user-sites {
    justify-content: center;
  }

  .dashboard .user-site-content {
    height: 120px;
    width: 180px;
  }
}
