.admin-dashboard {
  --header-height: 60px;

  min-height: calc(100vh - var(--navbar-height) - var(--header-height));
}

.admin-dashboard img.background-image {
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.admin-dashboard header {
  align-items: center;
  background-color: #f1f4f6;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  height: var(--header-height);
  justify-content: flex-end;
  overflow: hidden;
  padding: 0 1.2em;
  position: relative;
  text-transform: capitalize;
}

.admin-dashboard header .title {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 1.5rem;
  position: absolute;
  top: 0;
}

.admin-dashboard header .title h2 {
  background-color: white;
  border: 2px solid #202228;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #202228;
  cursor: pointer;
  font-size: 1em;
  padding: 0.7em;
  transition: transform 100ms ease-in-out;
}

.admin-dashboard header .title h2.active {
  z-index: 10;
}

.admin-dashboard header .title h2:not(.active) {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  transform: translateY(7px);
}

.admin-dashboard header .title h2:not(.active):hover {
  transform: translateY(0px);
}

.admin-dashboard header .title h2.active {
  background-color: #202228;
  color: white;
}

/* category */
.admin-dashboard .category-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1.5em;
  gap: 2rem;
}

.admin-dashboard .category-container {
  background-color: white;
  cursor: default;
  position: relative;
}

.admin-dashboard .category-content {
  transition: all 150ms ease-in-out;
}

.admin-dashboard .category-container:hover .category-content {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.admin-dashboard .category-container:hover .category-options {
  transform: translateY(-3px);
}

.admin-dashboard .category-options {
  color: black;
  font-size: 0.9em;
  padding: 0.5em 0.7em;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  transition: all 150ms ease-in-out;
  z-index: 10;
}

.admin-dashboard .category-options:hover {
  transform: translateY(-3px);
}

.admin-dashboard .category-options ul {
  background-color: white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  color: black;
  visibility: hidden;
  list-style-type: none;
  position: absolute;
  top: 100%;
  right: 0;
}

.admin-dashboard .category-options:hover ul {
  visibility: visible;
}

.admin-dashboard .category-options ul li {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 0.85rem;
  gap: 0.5rem;
  padding: 0.5rem;
  text-transform: capitalize;
}

.admin-dashboard .category-options ul li:hover {
  color: #3799ee;
}

.admin-dashboard .category-content {
  border: 2px solid black;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: black;
  font-weight: bold;
  overflow: hidden;
  padding: 1em 3em;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}

.admin-dashboard .category-content > * {
  pointer-events: none;
}

/* theme */
.admin-dashboard .theme-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1.5em;
  gap: 2rem;
}

.admin-dashboard .theme-list-category {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  font-weight: bold;
  gap: 1em;
  padding: 1em 1.5em;
  text-transform: capitalize;
}

.admin-dashboard .theme-list-category select {
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
  outline: none;
  padding: 0.7rem 0;
  text-transform: capitalize;
}

.admin-dashboard .theme-container {
  cursor: pointer;
  position: relative;
}

.admin-dashboard .theme-container:hover .theme-premium-icon,
.admin-dashboard .theme-container:hover .theme-options {
  transform: translateY(-3px);
}

.admin-dashboard .theme-premium-icon {
  color: #ffd700;
  font-size: 1.8em;
  left: 1rem;
  pointer-events: none;
  position: absolute;
  top: 1rem;
  transition: all 150ms ease-in-out;
  z-index: 10;
}

.admin-dashboard .theme-options {
  color: #f1f4f6;
  font-size: 1.2em;
  padding: 0.5em 0.7em;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  transition: all 150ms ease-in-out;
  z-index: 10;
}

.admin-dashboard .theme-options:hover {
  transform: translateY(-3px);
}

.admin-dashboard .theme-options:hover + .theme-content {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.admin-dashboard .theme-options ul {
  background-color: white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  color: black;
  visibility: hidden;
  list-style-type: none;
  position: absolute;
  top: 100%;
  right: 0;
}

.admin-dashboard .theme-options:hover ul {
  visibility: visible;
}

.admin-dashboard .theme-options ul li {
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  gap: 0.5rem;
  padding: 0.5rem;
  text-transform: capitalize;
}

.admin-dashboard .theme-options ul li:hover {
  color: #3799ee;
}

.admin-dashboard .theme-content {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 230px;
  overflow: hidden;
  position: relative;
  transition: all 150ms ease-in-out;
  width: 350px;
}

.admin-dashboard .theme-content > * {
  pointer-events: none;
}

.admin-dashboard .theme-content::before {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.admin-dashboard .theme-content:hover {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.admin-dashboard .theme-content img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.admin-dashboard .theme-content p {
  background-color: #f1f4f6;
  bottom: 0;
  font-size: 1.2em;
  font-weight: bold;
  left: 0;
  margin: 0;
  padding: 0.7rem;
  position: absolute;
  text-transform: capitalize;
  right: 0;
}

.admin-upload-image {
  --upload-image-header-size: 50px;
  --upload-image-footer-size: 50px;

  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 90;
}

.admin-upload-image-blur {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.admin-upload-image-box {
  background-color: white;
  border-radius: 5px;
  bottom: 6%;
  left: 15%;
  margin-top: var(--navbar-height);
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 15%;
  top: 6%;
}

.admin-upload-image header {
  align-items: center;
  color: white;
  background-color: black;
  display: flex;
  height: var(--upload-image-header-size);
  justify-content: space-between;
  left: 0;
  padding: 0 1rem;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: capitalize;
  z-index: 10;
}

.admin-upload-image header button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  outline: none;
}

.admin-upload-image section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: var(--upload-image-header-size);
  height: calc(
    100% - var(--upload-image-header-size) - var(--upload-image-footer-size)
  );
  overflow: auto;
  padding: 1rem 2rem;
}

.gallery-image-container {
  height: 160px;
  position: relative;
  width: 240px;
}

.gallery-image-container img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.gallery-image-container label {
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gallery-image-container label::before {
  border-radius: 100px;
  content: "";
  height: 30px;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 30px;
}

.gallery-image-container input[type="radio"] {
  display: none;
}

.gallery-image-container input[type="radio"]:checked + label,
.gallery-image-container input[type="checkbox"]:checked + label {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #3799ee;
}

.gallery-image-container input[type="radio"]:checked + label::before {
  background-image: url("https://png.pngtree.com/png-vector/20191113/ourmid/pngtree-green-check-mark-icon-flat-style-png-image_1986021.jpg");
  background-position: center;
  background-size: cover;
  border: 1px solid #3799ee;
}

.admin-upload-image-footer {
  align-items: center;
  background-color: #f1f4f6;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  height: var(--upload-image-footer-size);
  justify-content: space-between;
  left: 0;
  padding: 0 1rem;
  position: absolute;
  right: 0;
  z-index: 10;
}

.admin-upload-image-footer input[type="file"]::-webkit-file-upload-button {
  background-color: mediumblue;
  border: none;
  border-radius: 200px;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  gap: 0.5em;
  letter-spacing: 0.1em;
  outline: none;
  overflow: hidden;
  padding: 0.8em 1em;
  position: relative;
  text-transform: capitalize;
}

.admin-upload-image-footer-button {
  display: inline-block;
  font-size: 0.9em;
}

@media screen and (max-width: 600px) {
  .admin-dashboard {
    --header-height: 100px;
  }

  .admin-dashboard header {
    align-items: flex-start;
    padding-top: 1.5rem;
    justify-content: center;
  }

  .admin-dashboard header .title {
    font-size: 0.8em;
  }

  .admin-dashboard header button {
    font-size: 0.6em;
  }

  .admin-dashboard .theme-list {
    justify-content: center;
  }

  .admin-dashboard .theme-content {
    height: 120px;
    width: 180px;
  }

  .admin-upload-image {
    --upload-image-footer-size: 70px;
  }

  .admin-upload-image-footer input[type="file"]::-webkit-file-upload-button {
    font-size: 0.5em;
  }

  .admin-upload-image-footer {
    font-size: 0.5em;
  }

  .admin-upload-image-footer button {
    margin-top: 0.2rem;
  }
}
