button.components-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  outline: none;
  transition: all 0.2s ease-in-out;
}

button.components-button:hover {
  color: dodgerblue;
}

.board-container {
  min-height: calc(100vh - var(--navbar-height)); /* 100vh - height navbar */
  margin-left: var(--sidebar-width); /* sesuai width sidebar */
  overflow-y: auto;
  position: relative;
  width: calc(100% - var(--sidebar-width)); /* 100% - width sidebar */
}

.component-wrapper {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  pointer-events: none;
  width: 100%;
}

.component-wrapper:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #3799ee;
  background-color: rgba(69, 159, 237, 0.3);
  z-index: 10;
}

.component-wrapper.divider {
  width: 100% !important;
}

.component-wrapper > * {
  pointer-events: all;
}

.page-builder-container {
  --sidebar-header: 55px;
  --sidebar-footer: 38px;

  height: 100%;
  width: 100%;
}

.sidebar {
  box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.2);
  height: calc(100% - var(--navbar-height)); /* 100% - height navbar */
  left: 0;
  padding: 1rem;
  position: fixed;
  top: var(--navbar-height); /* sesuai height navbar */
  width: var(--sidebar-width);
  z-index: 10;
}

.sidebar-header {
  align-items: center;
  display: flex;
  font-weight: bold;
  height: var(--sidebar-header);
  justify-content: space-between;
  left: 0;
  letter-spacing: 0.1em;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}

.sidebar-header .title {
  text-align: center;
}

.sidebar-container {
  bottom: var(--sidebar-footer); /* sesuai height sidebar-footer */
  top: var(--sidebar-header); /* sesuai height sidebar-header */
  left: 0;
  overflow-y: auto;
  padding: 1rem;
  position: absolute;
  right: 0;
}

.sidebar-footer {
  background-color: dimgray;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  z-index: 99;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.widget {
  background-color: cornflowerblue;
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.widget:hover {
  opacity: 0.9;
}

.widget.widget-dragged {
  opacity: 0.5;
}
