.text-editor-component-container {
  cursor: default;
  font-size: 1rem;
  min-width: 100px;
}

.text-editor-component-container > * {
  pointer-events: none;
}

.text-editor-component-container .public-DraftStyleDefault-block {
  margin: 0;
}
