.text-editor-component-container {
  cursor: default;
  font-size: 1rem;
  min-width: 100px;
}

.text-editor-component-container span {
  font-family: unset;
  word-wrap: break-word;
}

.text-editor-component-container > * {
  pointer-events: none;
}

.text-editor-component-container .public-DraftStyleDefault-block {
  margin: 0;
}

.text-editor-component-container:not(.isAbsolute) {
  bottom: 0 !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
}
