.image-component {
  overflow: hidden;
  position: relative;
}

.image-component-container {
  max-width: 100%;
  position: relative;
}

.image-component-container.isAbsolute.isPercent > * {
  width: 100% !important;
}

.image-component img {
  display: block;
}
