.icon-component {
  overflow: hidden;
}

.icon-component.isEdit > * {
  pointer-events: none;
}

.icon-component:not(.isEdit).isPercent > * {
  width: 100% !important;
}

.icon-component.isAbsolute.isPercent > * {
  width: 100% !important;
}

.icon-component.isEdit.isPercent > * {
  width: 100% !important;
}

.icon-component a {
  display: block;
}

.icon-component:not(.isAbsolute) > *,
.icon-component:not(.isAbsolute) > * > * {
  bottom: 0 !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
}
