.icon-component {
  overflow: hidden;
}

.icon-component.isEdit > * {
  pointer-events: none;
}

.icon-component:not(.isEdit) > * > * {
  width: 100% !important;
}

.icon-component.isAbsolute.isPercent > * {
  width: 100% !important;
}

.icon-component.isEdit.isPercent > * {
  width: 100% !important;
}

.icon-component a {
  display: block;
}
