.theme-name {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - var(--navbar-height) - 86px);
  padding: 0 0.5em;
}

.theme-name h1 {
  font-size: 2em;
  margin: 3em 0 1em 0;
  text-align: center;
  text-transform: capitalize;
}

.theme-name form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 600px;
}

.theme-name .form-input {
  margin: 1rem 0;
}

.theme-name .theme-is-premium-radio {
  align-items: center;
  display: flex;
  gap: 4rem;
  justify-content: space-evenly;
  margin: 3rem 0;
}

.theme-name .theme-is-premium-radio input[type="radio"] {
  display: none;
}

.theme-name .theme-is-premium-radio label {
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  font-size: 3em;
  justify-content: center;
  transition: all 100ms ease-in-out;
}

.theme-name .theme-is-premium-radio label.theme-is-premium-yes {
  box-shadow: 0px 0px 24px rgba(60, 179, 113, 0.8);
  color: mediumseagreen;
}

.theme-name .theme-is-premium-radio label.theme-is-premium-no {
  box-shadow: 0px 0px 24px rgba(220, 20, 60, 0.8);
  color: crimson;
}

.theme-name .theme-is-premium-radio label:not(.active) {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  transform: scale(0.7);
}

@media screen and (max-width: 800px) {
  .theme-name form {
    width: 70%;
  }
}
