.divider-component {
  border: 2px solid transparent;
  position: relative;
  width: 100%;
}

.divider-component * {
  font-family: unset;
}

.divider-component > * {
  pointer-events: none;
}

.divider-component-text-container {
  bottom: 0;
  display: flex;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  font-family: unset;
}
