.home section {
  font-size: 4em;
  position: relative;
}

.home section p {
  font-size: 0.35em;
  line-height: 1.6em;
  margin: 1.5rem 0;
}

.home section span {
  display: block;
}

.home section button {
  font-size: 0.3em;
}

.home .swiper-slide {
  min-height: 100vh;
}

/* fade */
.home section.fade h1,
.home section.fade p {
  text-align: center;
}

.home .swiper-container-fade img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.home .swiper-description-fade {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  min-height: 100vh;
  padding: 0.5em;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.home .swiper-description-fade button {
  pointer-events: auto;
}

/* coverflow */
.home section.coverflow h5 {
  text-align: center;
}

.home .swiper-container-coverflow img {
  display: block;
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.home .swiper-description-coverflow-container {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
  left: 0;
  min-height: 100vh;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.home .swiper-description-coverflow {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.home .swiper-description-coverflow button {
  margin: 0 auto;
  pointer-events: auto;
}

/* grid */
.home section.grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home section.grid h5 {
  text-align: center;
}

.home section.grid p {
  text-align: center;
}

.home .grid-container {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: grid;
  gap: 0.8em;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  padding: 1em 0.7em;
  position: relative;
  width: 100%;
}

.home .grid-container::before {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.home .grid-item {
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 150ms ease-in-out;
  z-index: 1;
}

.home .grid-item:hover {
  transform: translateY(-3px);
}

.home .grid-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* .home .grid-item .grid-item-text {
  background-color: #f1f4f6;
  bottom: 0;
  font-size: 0.3em;
  font-weight: bold;
  left: 0;
  margin: 0;
  padding: 0.6em 0.7em;
  position: absolute;
  text-transform: capitalize;
  right: 0;
} */

@media screen and (max-width: 900px), screen and (max-height: 450px) {
  .home section {
    font-size: 2.4em;
  }

  .swiper-description-coverflow-content {
    text-align: center;
  }

  .home div.grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .home .grid-item .grid-item-text {
    display: none;
  } */
}
