.image-gallery-component-wrapper {
  position: relative;
  pointer-events: none;
}

.image-gallery-component-wrapper > * {
  pointer-events: all;
}

.image-gallery-component-edit-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10;
}

.image-gallery-slide .image-gallery-image {
  object-fit: cover !important;
}
