.image-gallery-component-wrapper {
  position: relative;
  pointer-events: none;
}

.image-gallery-component-wrapper > * {
  pointer-events: all;
}

.image-gallery-component-edit-button {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 30px;
  z-index: 10;
}
