.website-theme {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - var(--navbar-height) - 86px);
  padding: 0 0.5em;
}

.website-theme h1,
.website-theme h3 {
  text-align: center;
  text-transform: capitalize;
}

.website-theme h1 {
  font-size: 2em;
}

.website-theme h3 {
  margin-top: 3em;
}

.website-theme section {
  align-items: center;
  display: flex;
  gap: 2em;
  justify-content: center;
  margin-top: 5rem;
  text-transform: capitalize;
}

.website-theme section div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
}

@media screen and (max-width: 900px) {
  .website-theme section {
    flex-direction: column;
  }
}
