.footer {
  background-color: #202228;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 1em 3em;
  text-transform: capitalize;
}

.footer img {
  height: 50px;
  width: 50px;
}

.footer section {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  justify-content: space-between;
}

.footer section ul {
  list-style-type: none;
}

.footer section ul li.title {
  color: #a6a7a5;
  font-size: 0.85em;
  margin: 0.5em 0;
}

.footer section ul li {
  padding: 0.5em;
}

.footer section ul li:not(.title):hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer section ul p {
  line-height: 2em;
}

.footer section span.copyright {
  color: #a6a7a5;
  line-height: 2em;
}

.footer section span:not(.copyright):hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer section div.icon-pack {
  align-items: center;
  display: flex;
  font-size: 1.4em;
  gap: 1em;
}

.footer section div.icon-pack * {
  cursor: pointer;
}

.footer section div.icon-pack *:hover {
  color: #a6a7a5;
}
