.button-component-container:not(.isEdit):not(.isAbsolute) {
  width: 100% !important;
}

.button-component-container:not(.isEdit).isAbsolute {
  width: fit-content !important;
}

.button-component-container.isAbsolute.isPercent .button-component {
  width: 100% !important;
}

.button-component {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
}

.button-component.isEdit {
  pointer-events: none !important;
}

.button-component a {
  color: inherit;
  font-family: unset;
  text-decoration: inherit;
}
