a {
  text-decoration: inherit;
  color: inherit;
}

.button-component {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
}

.button-component.isEdit {
  pointer-events: none !important;
}

.button-component-container:not(.isEdit) {
  width: 100%;
}
