a {
  color: inherit;
  text-decoration: inherit;
}

.user-footer-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.user-footer-container * {
  font-family: unset;
}

.user-footer-menu.isEdit {
  cursor: pointer;
}

.user-footer-submenu-container {
  display: flex;
  margin-top: 0.7rem;
}

.user-footer-submenu,
.user-footer-submenu a {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.1rem;
}

.footer-watermark {
  padding: 0.7em;
  text-align: center;
}

@media screen and (max-width: 300px) {
  .user-footer-container {
    justify-content: flex-start !important;
  }
}
