.inner-section-component {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.inner-section-component-layout {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 300px;
  padding: 1rem;
  position: relative;
}

.inner-section-component-layout .component-wrapper {
  width: fit-content;
}

.inner-section-component-layout.isEdit:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #3799ee;
  background-color: rgba(69, 159, 237, 0.3);
}

.inner-section-component-layout-canDrop {
  background-color: #c7e4f8 !important;
}

.inner-section-component-layout-isOver::before {
  border: 3px dashed #3c6078 !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
