.inner-section-component-container {
  position: relative;
}

.inner-section-component-container:not(.isAbsolute) > * {
  bottom: 0 !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
}

.inner-section-component:not(.isAbsolute) {
  bottom: 0 !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
}

.inner-section-component {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  width: 100% !important;
}

.inner-section-component-layout {
  cursor: default;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 280px;
  padding: 1rem;
  position: relative;
}

.inner-section-component-layout .component-wrapper {
  width: fit-content;
}

.inner-section-component-layout
  > .button-component-container:not(.isEdit).isAbsolute.isPercent
  > .button-component {
  width: 100% !important;
}

.inner-section-component-layout
  > .button-component-container:not(.isEdit).isAbsolute:not(.isPercent) {
  width: fit-content !important;
}

.inner-section-component-layout
  > .image-component-container:not(.isEdit):not(.isAbsolute):not(.isPercent) {
  width: fit-content !important;
}

.inner-section-component-layout
  .component-wrapper.isPercent
  .star-rating-component.isEdit {
  width: 100% !important;
}

.inner-section-component-layout
  .component-wrapper.isPercent
  > *:not(.star-rating-component)
  > * {
  width: 100% !important;
}

.inner-section-component-layout.isEdit:hover::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #3799ee;
  background-color: rgba(69, 159, 237, 0.3);
  z-index: 10;
}

.inner-section-component-layout-canDrop {
  background-color: #c7e4f8 !important;
}

.inner-section-component-layout-isOver::before {
  border: 3px dashed #3c6078 !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
