.dom-tree-element {
  cursor: pointer;
  font-size: 1.1em;
  padding: 0.2rem 0;
  position: relative;
}

.innersection-child {
  position: relative;
  padding-left: 1rem;
}

.innersection-child::after {
  background-color: black;
  content: "";
  position: absolute;
  top: 5px;
  left: 0.2rem;
  height: calc(50% - 5px);
  width: 2px;
}

.innersection-child::before {
  background-color: black;
  content: "";
  position: absolute;
  top: 50%;
  left: 0.2rem;
  height: 2px;
  width: 8px;
}

.innersection-layout-child {
  padding-left: 2rem;
  position: relative;
}

.innersection-layout-child::after {
  background-color: black;
  content: "";
  position: absolute;
  top: 5px;
  left: 1rem;
  height: calc(50% - 5px);
  width: 2px;
}

.innersection-layout-child::before {
  background-color: black;
  content: "";
  position: absolute;
  top: 50%;
  left: 1rem;
  height: 2px;
  width: 8px;
}

.dom-tree-element:hover {
  color: #3799ee;
}

.dom-tree-element span {
  pointer-events: none;
}

.dom-tree-element-button-container {
  align-items: center;
  bottom: 0;
  display: none;
  gap: 0.3rem;
  position: absolute;
  right: 0;
  top: 0;
}

.dom-tree-element-button-container-button {
  background-color: white;
  color: mediumblue;
  font-size: 1.2em;
  padding: 0;
}

.dom-tree-element:hover > .dom-tree-element-button-container {
  display: flex;
}
