.edit-component-container input {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 !important;
}

.edit-component-text-editor-wrapper {
  border: 1px solid black;
}

.edit-component-text-editor {
  padding: 0 5px;
  font-size: 1rem;
}

input#innerSectionLayout::-webkit-outer-spin-button,
input#innerSectionLayout::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input select {
  margin: 0.5rem 0;
}

.form-input select:not(:first-child) {
  margin-left: 0.5rem;
}

.button {
  border-radius: 10px;
}

.delete-component {
  background-color: crimson;
}

.delete-component,
.save-location {
  margin-top: 1rem;
}

.color-picker-input {
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.color-picker-button-wrapper {
  align-items: center;
  display: flex;
  gap: 5px;
  position: relative;
}

.color-picker-button {
  border: 1px solid black;
  height: 15px;
  outline: none;
  width: 30px;
}

.color-picker-icon {
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 100ms ease-in-out;
}

.color-picker-icon:hover {
  color: #3799ee;
}

.color-picker-container {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 99;
}

.icon-picker-input {
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.image-gallery-images-input {
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.user-navbar-menu-input {
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.user-navbar-submenu-input {
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.user-footer-menu-input {
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.user-footer-submenu-input {
  align-items: center;
  display: flex;
  font-size: 0.85rem;
  justify-content: space-between;
  margin: 0.5rem 0;
}
