.board {
  background-color: white;
  min-height: inherit;
  position: relative;
  width: 100%;
}

.board-canDrop {
  background-color: darkorchid;
}

.board-isOver::before {
  border: 3px dashed yellow;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
